<div class="container">
  <div class="row">
    <div class="col-9">
      <p id="notice"><%= notice %></p>
      <h1>Asesores</h1>
      <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Usuario</th>
          <th>Contraseña</th>
          <th colspan="3">Opciones</th>
        </tr>
        </thead>

        <tbody>
        <% @asesors.each do |asesor| %>
          <tr>
            <td><%= asesor.nombre %></td>
            <td><%= asesor.apellido %></td>
            <td><%= asesor.user %></td>
            <td><%= asesor.password %></td>
            <td><%= link_to 'Mostrar', asesor %></td>
            <td><%= link_to 'Editar', edit_asesor_path(asesor) %></td>
            <td><%= link_to 'Eliminar', asesor, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Nuevo Asesor', new_asesor_path, class: "btn btn-success" %>
    </div>
  </div>
</div>